<p-toast></p-toast>

<app-upper-bar (onToggle)="toggleSidebar()" (showSidebar)="sidebarVisibility()"></app-upper-bar>

<div class="layout">
    @if (sidebarVisible)
    {
        <div class="sidebar hidden md:block" >
            <p-menu [model]="items"></p-menu>
        </div>
    }

    <p-drawer [(visible)]="openSidebarDrawer" class="md:!hidden">
        <ng-template pTemplate="header">
            <div class="flex dlex-row items-center logo-section">       
                <div class="w-8 h-8 bg-[var(--primary-bg-color)] rounded-full flex justify-center items-center">
                    <p class="text-[var(--terciary-mn-color)] text-sm font-extrabold">PM</p>
                </div>
                <p class="ml-2 font-[Audiowide] font-extrabold text-[var(--primary-bg-color)]">PROD-MANAGE</p>
            </div>
        </ng-template>
        <p-menu [model]="items" styleClass="w-full border-none"></p-menu>
    </p-drawer>
    
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>
