.layout {
  display: flex;
  background-color: white;
  width: inherit;
  height: 100%;
  top: 0;
}

.sidebar {
  width: 15%;
  height: 100%;
  box-shadow: 2px 0 6px rgba(0,0,0,0.1);
  background-color: var(--secondary-mn-color);
  position: fixed;
  left: 0;
  padding-top: 4%;
}

.main-content {
  margin-left: 15%;
  height: 100%;
  background-color: whitesmoke;
  width: calc(100% - 15%);
  color: rgb(34, 34, 34);
  padding-top: 4%;
}