.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: red;
}

.sidebar {
  width: 15%;
  min-width: 200px; /* Evita que el menú se "apriete" demasiado */
  max-width: 300px;
  height: 100%;
  background-color: var(--secondary-mn-color);
  padding-top: 9vh;
  box-shadow: 2px 0 6px rgba(0,0,0,0.1);
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
  padding-top: 9vh;
  background-color: whitesmoke;
}