@import 'tailwindcss';
@import "primeicons/primeicons.css";

:root {
    --primary-bg-color: #433878;
    --secondary-bg-color: #7E60BF;
    --primary-mn-color: #EBD6FB;
    --secondary-mn-color: #e3dfe6;
    --terciary-mn-color: #EEEEEE;
}

html, body, app-root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}
